<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservations List</title>
    <link rel="stylesheet" href="/reservations/all-reservations-list.css">
</head>
<body>

<div class="dashboard-container">
    <div class="card">
        <h1>All Reservations</h1>

        <div th:if="${errorMessage}" class="error-message">
            <p th:text="${errorMessage}"></p>
        </div>

        <table th:if="${errorMessage == null}">
            <thead>
            <tr>
                <th>ID</th>
                <th>Customer Name</th>
                <th>Workspace ID</th>
                <th>Workspace Type</th>
                <th>Workspace Price</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservation : ${reservationList}">
                <td th:text="${reservation.id}"></td>
                <td th:text="${reservation.customerLogin}"></td>
                <td th:text="${reservation.space.id}"></td>
                <td th:text="${reservation.space.type}"></td>
                <td th:text="${reservation.space.price}"></td>
                <td th:text="${reservation.startTime}"></td>
                <td th:text="${reservation.endTime}"></td>
            </tr>
            </tbody>
        </table>

        <div th:include="~{common/back-button}"></div>

    </div>
</div>

</body>
</html>
