<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="/static/common/login-page.css">
</head>

<body>
<div class="form-container">
    <h2>Login</h2>
    <form th:action="@{/login}" method="POST">

        <div class="input-container">
            <input type="text" name="username" placeholder="Enter your username" required/>
        </div>

        <div class="input-container">
            <input type="password" name="password" placeholder="Enter your password" required/>
        </div>

        <div th:if="${param.error}" class="error-message">
            Invalid username or password.
        </div>

        <button type="submit">Log In</button>

        <p>Don't have an account? <a href="/registration">Register here</a></p>
    </form>
</div>
</body>
</html>
