<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/common/welcome-page.css">
</head>
<body>
<h1>Welcome to the Coworking Space Reservation System</h1>

<div class="button-container">
    <a href="/login">
        <button type="button">Log in</button>
    </a>

    <a href="/registration">
        <button type="button" class="registration-btn">Registration</button>
    </a>
</div>

</body>
</html>
