<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="/css/common/login-page.css">
</head>

<body>
<div class="form-container">
    <h2>Login</h2>
    <form action="/login" method="post" th:object="${userDto}">

        <div class="input-container">
            <input type="text" th:field="*{login}" placeholder="Enter your username" required/>
            <span class="tooltip-icon"
                  data-tooltip="The expected login must be longer than 5 characters, not contain special characters, and be in English.">?</span>

            <div th:if="${#fields.hasErrors('login')}" class="error-message" th:errors="*{login}">Invalid login</div>
        </div>

        <div class="role-selection">
            <label>
                <input type="radio" th:field="*{role}" value="USER" required/> User
            </label>
            <label>
                <input type="radio" th:field="*{role}" value="ADMIN" required/> Admin
            </label>
            <div th:if="${#fields.hasErrors('role')}" class="error-message" th:errors="*{role}">Role error</div>
        </div>

        <button type="submit">Log In</button>
    </form>
</div>
</body>
</html>
